In [1]:
import pandas

In [2]:
data = pandas.read_csv('Ready_Csv_File.csv')

In [5]:
data.head()

,number,time,1num,2num,3num,4num,5num,6num,7num,8num,...,11num,12num,13num,14num,15num,16num,17num,18num,19num,20num
0,891645,21:55,78,36,10,52,12,65,17,26,...,55,40,13,76,33,39,59,24,47,57
1,891644,21:50,61,5,54,10,22,64,12,42,...,38,13,73,20,49,63,68,44,25,69
2,891643,21:45,78,4,72,40,11,26,15,66,...,52,63,64,68,9,30,49,50,67,34
3,891642,21:40,67,55,26,12,16,44,18,47,...,9,30,49,43,27,3,75,41,8,48
4,891641,21:35,33,65,68,32,18,29,4,28,...,20,43,24,47,21,27,80,26,60,56

In [6]:
# lucky_numbers = (17, 18, 37, 60, 10)
data_columns_list = data.columns[2:]
print(data_columns_list)
list_of_tupples = []

Index(['1num', '2num', '3num', '4num', '5num', '6num', '7num', '8num', '9num',
       '10num', '11num', '12num', '13num', '14num', '15num', '16num', '17num',
       '18num', '19num', '20num'],
      dtype='object')

In [7]:
for index, rows in data.iterrows() :
    new_tupple = (data.at[index, 'number'], rows['1num'], rows['2num'], rows['3num'], rows['4num'], rows['5num'], rows['6num'], rows['7num'], rows['8num'], rows['9num'], rows['10num'], rows['11num'], rows['12num'], rows['13num'], rows['14num'], rows['15num'],rows['16num'], rows['17num'], rows['18num'], rows['19num'], rows['20num'])
    list_of_tupples.append(new_tupple)
#     print(new_tupple)

In [6]:
# list_of_tupples.clear()

In [13]:
# list_of_tupples.clear()
type(list_of_tupples)
print(len(list_of_tupples))

4584

In [19]:
lucky_numbers = (16, 45, 54, 46, 18)
counter = 0 
for current_tupple in list_of_tupples:
    if set(lucky_numbers).issubset(current_tupple[1:]):
        counter += 1

In [20]:
print(counter)

5

In [ ]:
# creating all possible lucky number combinations.

In [29]:
import itertools
import numpy as np

In [104]:
combinations = list(itertools.combinations(range(1,81), 4))
print(list(combinations)[:100])

# Make it a numpy array for faster calculations.

comb_array = np.array(list(combinations))

[(1, 2, 3, 4), (1, 2, 3, 5), (1, 2, 3, 6), (1, 2, 3, 7), (1, 2, 3, 8), (1, 2, 3, 9), (1, 2, 3, 10), (1, 2, 3, 11), (1, 2, 3, 12), (1, 2, 3, 13), (1, 2, 3, 14), (1, 2, 3, 15), (1, 2, 3, 16), (1, 2, 3, 17), (1, 2, 3, 18), (1, 2, 3, 19), (1, 2, 3, 20), (1, 2, 3, 21), (1, 2, 3, 22), (1, 2, 3, 23), (1, 2, 3, 24), (1, 2, 3, 25), (1, 2, 3, 26), (1, 2, 3, 27), (1, 2, 3, 28), (1, 2, 3, 29), (1, 2, 3, 30), (1, 2, 3, 31), (1, 2, 3, 32), (1, 2, 3, 33), (1, 2, 3, 34), (1, 2, 3, 35), (1, 2, 3, 36), (1, 2, 3, 37), (1, 2, 3, 38), (1, 2, 3, 39), (1, 2, 3, 40), (1, 2, 3, 41), (1, 2, 3, 42), (1, 2, 3, 43), (1, 2, 3, 44), (1, 2, 3, 45), (1, 2, 3, 46), (1, 2, 3, 47), (1, 2, 3, 48), (1, 2, 3, 49), (1, 2, 3, 50), (1, 2, 3, 51), (1, 2, 3, 52), (1, 2, 3, 53), (1, 2, 3, 54), (1, 2, 3, 55), (1, 2, 3, 56), (1, 2, 3, 57), (1, 2, 3, 58), (1, 2, 3, 59), (1, 2, 3, 60), (1, 2, 3, 61), (1, 2, 3, 62), (1, 2, 3, 63), (1, 2, 3, 64), (1, 2, 3, 65), (1, 2, 3, 66), (1, 2, 3, 67), (1, 2, 3, 68), (1, 2, 3, 69), (1, 2, 3, 70), (1, 2, 3, 71), (1, 2, 3, 72), (1, 2, 3, 73), (1, 2, 3, 74), (1, 2, 3, 75), (1, 2, 3, 76), (1, 2, 3, 77), (1, 2, 3, 78), (1, 2, 3, 79), (1, 2, 3, 80), (1, 2, 4, 5), (1, 2, 4, 6), (1, 2, 4, 7), (1, 2, 4, 8), (1, 2, 4, 9), (1, 2, 4, 10), (1, 2, 4, 11), (1, 2, 4, 12), (1, 2, 4, 13), (1, 2, 4, 14), (1, 2, 4, 15), (1, 2, 4, 16), (1, 2, 4, 17), (1, 2, 4, 18), (1, 2, 4, 19), (1, 2, 4, 20), (1, 2, 4, 21), (1, 2, 4, 22), (1, 2, 4, 23), (1, 2, 4, 24), (1, 2, 4, 25), (1, 2, 4, 26), (1, 2, 4, 27)]

In [105]:

print(len(combinations))

1581580

In [106]:
# Creating the dictionary for the counter.

In [107]:
len(list_of_tupples)

4584

In [108]:
len(combinations)

1581580

In [109]:
len(counter)

1533938

In [116]:
combinations

# Keys are the c####... combination number of lucky
counter = { f'{combinations[k]}': 0  for k in range(1,len(combinations))}
print(counter)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [123]:
# extensive use of power.
for i in range(1,100):
    
    for current_tupple in list_of_tupples:
        if set(combinations[i]).issubset(current_tupple[1:]):
            counter[f'{combinations[i]}'] += 1

In [124]:
print(list(counter.keys())[-30:-10], list(counter.values())[-30:-10])

['(74, 75, 77, 79)', '(74, 75, 77, 80)', '(74, 75, 78, 79)', '(74, 75, 78, 80)', '(74, 75, 79, 80)', '(74, 76, 77, 78)', '(74, 76, 77, 79)', '(74, 76, 77, 80)', '(74, 76, 78, 79)', '(74, 76, 78, 80)', '(74, 76, 79, 80)', '(74, 77, 78, 79)', '(74, 77, 78, 80)', '(74, 77, 79, 80)', '(74, 78, 79, 80)', '(75, 76, 77, 78)', '(75, 76, 77, 79)', '(75, 76, 77, 80)', '(75, 76, 78, 79)', '(75, 76, 78, 80)'] [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def count_propability():
    lucky_numbers = comb_array[]
    counter = 0 
    loop_number = 0
    for current_tupple in list_of_tupples:
        lucky_numbers = comb_array[loop_number]
        if set(lucky_numbers).issubset(current_tupple[1:]):
            counter += 1